bin/*
!bin/*.ini
lib
!lib/README.md
build/**/*
!build/premake4.lua
!build/README.md
include/orx/
# .obj
# .lib
# .ncb
# .idb
# .o
# .so
# .dylib
# .ilk
# .pdb
# .htm
# .log
# .cih
# .sln
# .vcxproj*
# .suo
# .user
# .sdf
# .exe